.event-list {
    padding-top: 64px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card-wrapper .card {
    padding: 20px;
    width: 300px;
    height: 250px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background-color: #F5F5F5;
    color: #333;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-wrapper .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}