{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/productDetail.css' %}" />
{% endblock %}

{% block title %}
{{ product.name }} - Detalhes
{% endblock %}

{% block content %}
<div class="productDetail">
  <div class="image">
    <img src="{{ product.image.url }}" alt="">
  </div>
  <div class="info">
    <div class="title">
      <h1>{{ product.name }}</h1> <span class="badge success quantity">Em estoque: {{ product.quantity }}</span>
    </div>
    <span class="price">R$ {{ product.price | floatformat:2 }}</span>
    <div class="description">
      <p>{{ product.description }}</p>
    </div>

    <h2>Selecione Atributos</h2>
    <form class="attributes" method="POST" action="{% url 'product_design' product.id %}">
      {% csrf_token %}
      {% for attribute_name, values in attributes.items %}
      <div class="attribute">
        <label class="attribute-name" for="{{ attribute_name }}">{{ attribute_name }}:</label>
        <div class="values">
          {% for value in values %}
          <input type="radio" class="radio" id="{{ attribute_name }}-{{ value }}" name="{{ attribute_name }}"
            value="{{ value }}" required>
          <label class="attribute-value" for="{{ attribute_name }}-{{ value }}">
            {{ value }}
          </label>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
      <div class="continue">
        <button type="submit">Prosseguir com a compra</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}