{% extends 'base.html' %}

{% block title %}
{{ product.name }} - Design
{% endblock %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/productDesign.css' %}" />
{% endblock %}

{% block content %}
<div class="product-select">
    <h1>Produto: {{ product.name }}</h1>

    <h2>Atributos Selecionados:</h2>
    <div class="attributes">
        {% for key, value in attributesSelected.items %}
        <div class="attribute">
            {{ key }}: {{ value }}
        </div>
        {% endfor %}
    </div>
</div>

<div class="tabs">
    <div class="tab active">Tenho meu design</div>
    <div class="tab">Não tenho meu design</div>
</div>

<div class="tab-content">
    <div class="tab-item active">
        <!-- Upload image -->
        <div class="design-image">
            <div class="preview">

            </div>
            <form class="design-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Selecione uma imagem</h2>
                <input type="hidden" name="attributes"
                    value="{% for key, value in attributesSelected.items %}{{ key }}={{ value }}&{% endfor %}">
                <input type="hidden" name="type" value="image">
                <div class="drop-area" id="drop-area">
                    <p>Selecione uma imagem</p>
                    <input type="file" name="design" id="fileElem" multiple accept="image/*" style="display:none;">
                    <label for="fileElem" class="button">Selecionar</label>
                </div>

                <div class="buttons" style="display: none;">
                    <div class="send" onclick="showModalUserInfo()" style="text-align: center;">Enviar</div>
                    <button type="reset">Limpar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="tab-item">
        <form class="design-description novalidate" method="POST">
            {% csrf_token %}
            <p>
                Descreva como você deseja que o design seja feito,
                por exemplo, cores, fontes, imagens, etc.
            </p>
            <input type="hidden" name="attributes"
                value="{% for key, value in attributesSelected.items %}{{ key }}={{ value }}&{% endfor %}">
            <input type="hidden" name="type" value="description">
            <textarea name="description" required placeholder="Descreva o design"></textarea>
            <div class="send" onclick="showModalUserInfo()" style="text-align: center;">Enviar</div>
        </form>
    </div>
</div>

<div class="userinfo novalidate">
    <form class="userinfo-form" method="POST" action="{% url 'order_product' product.id %}">
        <h2>Informações pessoais</h2>
        {% csrf_token %}
        <input type="hidden" name="product" value="{{ product.id }}">

        <h3>Contato</h3>
        <div class="form-input">
            <div class="col">
                <label for="name">Nome:</label>
                <input type="text" name="name" id="name" placeholder="Nome" required>
            </div>
            <div class="col">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="Email" required>
            </div>
        </div>
        <div class="form-input">
            <div class="col">
                <label for="phone">Telefone:</label>
                <input type="text" name="phone" id="phone" placeholder="Telefone" required>
            </div>
        </div>
        <h3>Endereço</h3>
        <div class="form-input">
            <div class="col">
                <label for="street">Rua:</label>
                <input type="text" name="street" id="street" placeholder="Rua" required>
            </div>
            <div class="col">
                <label for="number">Número:</label>
                <input type="text" name="number" id="number" placeholder="Número" required>
            </div>
        </div>
        <div class="form-input">
            <div class="col">
                <label for="district">Bairro:</label>
                <input type="text" name="district" id="district" placeholder="Bairro" required>
            </div>
            <div class="col">
                <label for="city">Cidade:</label>
                <input type="text" name="city" id="city" placeholder="Cidade" required>
            </div>
        </div>
        <div class="form-input">
            <div class="col">
                <label for="state">Estado:</label>
                <input type="text" name="state" id="state" placeholder="Estado" required>
            </div>
            <div class="col">
                <label for="zip_code">CEP:</label>
                <input type="text" name="zip_code" id="zip_code" placeholder="CEP" required>
            </div>
        </div>
        <button type="submit">Enviar</button>
    </form>
</div>
{% endblock %}

{% load static %}
{% block script %}
<script defer src="{% static 'js/productDesign.js' %}"></script>
{% endblock %}