.productDetail {
    padding: 64px 2rem;
    display: flex;
}

.productDetail>*:first-child {
    width: 50%;

    & img {
        width: 100%;
        object-fit: contain;
    }
}

.info {
    color: white;

    & .title {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    & .price {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 2em;
    }

    & .description {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.attribute .attribute-name {
    font-weight: bold;
}

.attribute .values {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.attribute .values input[type="radio"] {
    display: none;
}

.attribute .values label {
    margin-bottom: 10px;
    font-size: 1em;
    display: flex;
    padding: 10px 0;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: white;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 150px;
    justify-content: center;
}

.attribute .values input[type="radio"]:checked+label {
    background-color: #B47AEA;
    color: white;
}

.attribute .values label:hover {
    background-color: #BD93D8;
}

.productDetail>*:last-child {
    width: 50%;
    margin-left: 1.5rem;
}

.continue button {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;

    position: absolute;
    right: 0;
    bottom: 0;
}

.info {
    position: relative;
}