{% extends 'base.html' %}

{% block title %}
Sobre Nós
{% endblock %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %}

{% block content %}
<div class="about-container">
  <h1>Sobre Nós</h1>
  <p>
    Somos a Dipirona Eventos, uma empresa situada em Marília dedicada a criar momentos memoráveis em festas e eventos.
    Nossa especialidade é levar diversão e entretenimento através de animações com espetáculos de circo, locação de
    óculos de realidade virtual para uma experiência imersiva.
  </p>
  <p>
    Oferecemos também o gostinho doce do algodão doce e produtos personalizados, como camisetas, canecas e almofadas,
    que dão um toque especial a qualquer evento. Com criatividade e paixão, estamos prontos para transformar o seu
    evento em uma experiência única.
  </p>
</div>
{% endblock %}