.navbar {
    position: fixed;
    width: 100%;
    padding: 20px;
    align-items: center;
    background: transparent;
    z-index: 99;
}

.navbar.scrolled {
    min-height: 64px;
    transition: background 0.5s ease;
    background: linear-gradient(130deg, #1F3BFF, #6C38FF, #D359FF);
}

.navbar .links a {
    color: white;
    margin: 10px;
}

.navbar a.active,
.navbar a:hover {
    border-bottom: 2px solid white;
    font-weight: bold;
}

.navbar .hamburguer-menu {
    display: none;
    cursor: pointer;
    color: white;
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.navbar .hamburguer-menu .hamburguer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: white;
    position: absolute;
    right: -20px;
    width: 100vw;
}

.navbar .hamburguer-menu .hamburguer-links a {
    color: black;
}


.navbar .hidden {
    display: none !important;
}

.navbar .brand {
    display: none;
}

.navbar .brand a {
    color: white;
}

@media screen and (max-width: 768px) {
    .navbar .links {
        display: none;
    }

    .navbar .brand {
        display: block;
    }

    .navbar .hamburguer-menu {
        display: block;
    }
}